<div class="background-cover">
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header">
            <h3>Reset</h3>
            <div class="d-flex justify-content-end social_icon">
              <span><i class="fab fa-facebook-square"></i></span>
              <span><i class="fab fa-google-plus-square"></i></span>
              <span><i class="fab fa-twitter-square"></i></span>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="resetForm" (ngSubmit)="sendEmail()">
              <div class="input-group form-group" *ngIf="!otpSent">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="email" formControlName="email" class="form-control" placeholder="Email" required>
              </div>
              
              <div class="input-group form-group otp-input" *ngIf="otpSent && !otpVerified">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="text" formControlName="otp" class="form-control" placeholder="Enter OTP" required>
                <button type="button" class="btn btn-primary ml-2" (click)="verifyOTP()">Verify OTP</button>
              </div>
  
              <div *ngIf="otpSent && !otpVerified" class="timer">
                <p>Time remaining: {{timer}} seconds</p>
              </div>
  
              <div *ngIf="otpVerified" class="password-input">
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <input type="password" formControlName="newPassword" class="form-control" placeholder="New Password" required>
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" required>
                </div>
                <button type="button" class="btn btn-primary" (click)="resetPassword()">Reset Password</button>
              </div>
  
              <div class="form-group" *ngIf="!otpSent">
                <button type="submit" [disabled]="otpSent && !otpVerified" class="btn float-right login_btn">
                  {{ otpVerified ? 'Reset Password' : 'Reset' }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
